.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
}

.app-main {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.app-canvas-container {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.app-canvas {
  display: block;
  width: 100%;
  height: 100%;
}
